* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }
body {
    margin-right: auto;
    margin-left: auto; 
    width: 96%;
    max-width: 1400px;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}
/* Header */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 81px;
    height: 25px;
    padding-top: 39px;
}
.menu {
    display: flex;
    padding-right: 45px;
}
nav a {
    padding-top: 40px;
    padding-right: 28px;
    padding-left: 28px;
}
nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    border-bottom: 0;
}
/* Section recherche */
h1 {
    padding-top: 63px;
    padding-bottom: 8px;
}
h2 {
    font-size: 1.1em;
}
form {
    display: flex;
    margin-top: 25px;
    width: 100%;
}
.dot-location {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 55px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    font-size: 22px;
}
input {
    padding: 16px;
    border: 1px solid #F2F2F2;
    width: fit-content;
    font-size: 18px;
    font-weight: 700;
}
button {
    background: #0065FC;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #F2F2F2;
}
.bouton-icon {
    display: none;
}
.filtres {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 35px;
    font-size: 1.1em;
}
.filtres-content {
    display: flex;
    gap: 10px;
    font-weight: 700;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
}
.filtres-content:hover {
    background-color: #DEEBFF;
}
.filtres i {
    color: #0065FC;
    font-size: 1.2em;
}
.filtre-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}
.filtre-info i {
    font-size: 0.8em;
    border: 1px solid #D9D9D9 ;
    border-radius: 50%;
    padding: 6px 10px 6px 10px;
    color: #0065FC;
}
.box-position {
    display: flex;
    gap: 35px;
    margin-top:40px;
}
.box-position p {
    font-size: 0.7em;
}
.box-position h4 {
    padding-bottom: 8px;
    padding-top: 5px;
    font-size: 0.8em;
}
.box-position i {
    font-size: 12px;
    padding-top: 10px;
    color: #0065FC;

}
/* Section hébergements */
.section-herbergements {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    Width: 79%;
    border-radius: 20px;
    padding: 20px;
}
h3 {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 10px;
    font-weight: 700;
}
.card-position-section-herbergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
}
.card-section-herbergements {
    width: 28%;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 3px rgb(228, 225, 225);
}
.card-section-herbergements img {
    height: 110%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.card-container-herbergements {
    display: flex;
    flex-direction: column;
    aspect-ratio: 4/2;
    width: 100%;
}
.etoile-row {
    display: flex;
    flex-direction: row;
}
.etoile-grise::before {
    color: #D9D9D9;
}
.afficher-plus {
    padding-top: 30px;
    padding-left: 15px;
    font-weight: 700;
}
/* Section Populaire */
.section-populaire {
    width: 40%;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.section-populaire-title-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-left: 20px;
}
.section-populaire-title-logo i {
    color: #0065FC;
    font-size: 20px;
    padding-right: 15px;
}
.card-position-section-populaire {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
}
.card-section-populaire {
    display: flex;
    flex-direction: row;
    width: 100%;
    aspect-ratio: 5/2;
    box-sizing: border-box;
    background: white;
    border-radius: 20px;
    padding: 5px;   
    box-shadow: 0px 0px 8px 3px rgb(228, 225, 225)
}
.card-section-populaire img {
    width: 40%;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
    aspect-ratio: 5/4;
}
.card-container-section-populaire {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.etoile-section-populaire {
    margin-top: auto;
}
/* Section Activités */
.card-position-section-activites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    margin-top: 15px;
}
.card-section-activites {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px 3px rgb(228, 225, 225);
    border-radius: 20px;
    width: 23%;
}
.card-section-activites img {
    height: 385px;
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.card-container-section-activites h4 {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}
/* Footer */
footer {
    margin-top: 70px;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: space-around;
}
ul {
    list-style: none;
    padding-left: 0;
}
h5 {
    font-size: 1.1em;
    padding-top: 50px;
    padding-bottom: 15px;
}
.lien-footer {
    padding-top: 7px;
    padding-bottom: 7px;
}
/* Version Tablette */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        width: 93%;
    }
    .filtres-content {
        font-size: 0.8em;
    }
    .box-position {
        display: flex;
        flex-direction: column;
        width: 100%;
        aspect-ratio: 4/3;
    }
    .section-herbergements {
        width: 95%;
    }
    
    .card-section-herbergements {
        width: 28%;
    }
    .card-position-section-populaire {
        display: flex;
        flex-direction: row;
        padding: 17px;
        gap: 11px;
    }
    .section-populaire { 
        width: 100%;
        height: 41%;
    }
    .card-section-populaire {
        aspect-ratio: unset;
    }
    .card-position-section-populaire a {
        width: 100%;
    }
    .card-section-populaire img {
        aspect-ratio: 4/5;
    }
    h4 {
        padding-top: 0;
    }
    .card-position-section-activites {
        gap: 40px;
        
    }
    .card-section-activites img {
        height: 230px;
    }
    
}
/* Version Mobile */
@media screen and (max-width: 767px) {
    body {
        width: 100%;
        margin: auto;
    }
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .menu {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-right: 0;
    }
    nav a { 
        padding-bottom: 20px;
        width: 50%;
        border-bottom: 3px solid #F2F2F2;
        padding-left: 0;
        padding-right: 0;
    }
    nav a:hover {
        border-bottom: 3px solid #0065FC;
        border-top: 0;
    }
    form {
        display: flex;
        justify-content: center;
    }
    .bouton-recherche {
        display: none;
    }
    button {
        width: 55px;
    }
    .bouton-icon {
        display: block;
        color: white;
    }
    .section-recherche {
        padding-right: 15px;
        padding-left: 15px;
    }
    h1 {
        padding-top: 20px;
    }
    .filtres {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 25px;
    }
    h2 {
        flex: 100%;
    }
    .filtres-content {
        gap: 5px;
        width: 33%;
        font-size: 0.8em;
    }
    .box-position {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }
    .section-populaire {
        width: 100%;
        border-radius: 0;
    }
    .card-section-populaire {
        aspect-ratio: unset;
    }
    .section-herbergements {
        width: 100%;
        height: 100%;
        margin-top: 0px;
        background-color: white;
        border-radius: 0px;
        padding: 0px;
    } 
    .card-position-section-herbergements {
        display: flex;
        flex-direction: column;
    }  
    .card-section-herbergements {
        width: 88%;
        margin: auto;
        aspect-ratio: 5/1;
    }
    .card-container-herbergements {
        aspect-ratio: 3/1;
    }
    .afficher-plus {
        display: none;
    }
    .section-activites {
        width: 100%;
    }
    .card-position-section-activites {
        display: flex;
        flex-direction: column;
        gap: 20px;   
    }
    .card-section-activites {
        width: 90%;
        margin: auto;
    }
    .card-position-section-activites img {
        height: 180px;
    }
    .card-container-section-activites {
        padding-top: 0;
    }
    footer {
        display: flex;
        flex-direction: column;
        padding-left: 8%;
    }
}