* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }
body {
    margin-right: auto;
    margin-left: auto; 
    max-width: 1400px;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.menu {
    display: flex;
    gap: 67px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}
.menu :hover {
    color: #0065FC;
    border-top: 1px solid #0065FC;
}
.logo {
    width: 81px;
    height: 25px;
}
h1 {
    padding-top: 63px;
    padding-bottom: 8px;
}
h2 {
    font-size: 1.1em;
}
.barre-recherche {
    display: flex;
    margin-top: 25px;
}
input {
    padding: 16px;
    border: 1px solid #F2F2F2;
    width: fit-content;
}
.dot-location {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 55px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    font-size: 22px;
}
.search {
    font-size: 18px;
    font-weight: 700;
    width: 270px;
}
.submit {
    background: #0065FC;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0px 15px 15px 0px;
}
.filtres {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-top: 35px;
    font-size: 1.1em;
}
.filtres-option {
    display: flex;
    gap: 10px;
    font-weight: 700;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
}
.filtres-option:hover {
    background-color: #DEEBFF;
}
.filtres i {
    color: #0065FC;
    font-size: 1.2em;
}
.filtre-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}
.filtre-info i {
    font-size: 0.8em;
    border: 1px solid #D9D9D9 ;
    border-radius: 50%;
    padding: 6px 10px 6px 10px;
    color: #0065FC;
}
.section-herbergements {
    margin-top: 40px;
    background-color: #F2F2F2;
    Width: 75%;
    Height: 625px;
    border-radius: 20px;
    padding: 20px;
}
h3 {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 10px;
    font-weight: 700;
}
h4 {
    padding-bottom: 8px;
    padding-top: 8px;
}
.card-section-herbergements img {
    height: 124px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.card-position-section-herbergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 15px;
}
.card-section-herbergements { 
    height: 215px;
    width: 28%;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
    aspect-ratio: 4/2;
    box-shadow: 0px 0px 10px 7px rgb(228, 225, 225);
}
.card-container-section-herbergements {
    margin-left: 10px;
}
.box-position i {
    font-size: 12px;
    padding-top: 10px;
    color: #0065FC;
}
.afficher-plus {
    font-weight: 700;
    padding-left: 40px;
    margin-top: 60px;
}
.etoile-grise::before {
    color: #D9D9D9;
}
.section-populaire {
    height: 665px;
    width: 38%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 40px;
}
.section-populaire-title-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    padding-left: 20px;
}
.section-populaire-title-logo i {
    color: #0065FC;
    font-size: 20px;
    padding-right: 15px;
}
.box-position {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-bottom: 30px;
}
.card-section-populaire img {
    width: 40%;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}
.card-container-section-populaire {
    padding: 15px;
}
.card-position-section-populaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    gap: 40px;
}
.card-section-populaire {
    display: flex;
    flex-direction: row;
    height: 147px;
    width: 87%;
    background: white;
    border-radius: 20px;
    padding: 5px;   
    box-shadow: 0px 0px 10px 7px rgb(228, 225, 225);
}
.card-section-activites {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 7px #f2f2f2d3;
    border-radius: 20px;
    height: 520px;
    width: 23%;
}
.card-position-section-activites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    margin-top: 15px;
}
.card-section-activites img {
    height: 195%;
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.card-container-section-activites h4 {
    font-weight: 700;
    padding-left: 20px;
    padding-top: 15px;
}
a {background-color: red;}
footer {
    margin-top: 75px;
    width: 100%;
    height: 220px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul {
    list-style: none;
}